$primary: #be2596;
// $secondary: #dfdede;
$secondary: #c7c5c5;
$text-color: #be2596;;

.top-header{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;


    .first-header{
        width: 100%;
        height: fit-content;
        background-color: $primary;
        display: flex;
        justify-content: space-between;
        

        .logo{
            width: 5%;
            display: flex;
            text-decoration: none;
            color: #ffffff;
            margin: auto;
            margin-left: 50px;
        }


        .search-wrapper{
            width: 40%;
            margin: auto;
            background-color: #fff;
            box-shadow: 0px 0px 8px #ddd;
            display: flex;
            align-items: center;
            padding: 5px;
            border-radius: 10px;
            min-width: 200px;

            i{
                margin-left: 10px;
            }

            input{
                width: 100%;
                border: none;
                padding: 2px;
                margin-left: 7px;
            }

            .input-field:focus{
                outline: none;
            }
        }

        ul{
            width: 5%;
            display: flex;
            margin: auto;

            li{
                list-style: none;
                margin: 0px 10px;
            }
        }
    }

    .second-header{
        width: 100%;
        height: fit-content;
        background: $secondary;
    
        ul{
            display: flex;
            list-style: none;
            padding: 5px 0;
            margin: auto;
    
            li .nav-items{
                text-decoration: none;
                margin-left: 20px;
                font-weight: 600;
            }

            li .nav-items:hover {
                color: $text-color;
            }
        }
    }
}


.img-fluid{
    border-radius: "1rem 0 0 1rem";
    background-color: rgb(148, 148, 148);
    height: 100%;
    display: flex;


    img{
        margin: auto;
    }
}


.form-outline {
    p{
        color: red;
    }
}
